extends layout
block css
  //- When CDN is used, the files are blocked by client. I think toggling CORS may fix
  link(rel="stylesheet" href="/stylesheets/calendar/tui-calendar.css")
  //- Not using CDN since the css file had to be explicitly modified
  link(rel="stylesheet" href="/stylesheets/datatables.min.css")
  link(rel="stylesheet" href="/stylesheets/calendar.css")
block content
  .container.main-content
    #menu
      span.dropdown
        button#dropdownMenu-calendarType.btn.btn-default.btn-sm.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
          i#calendarTypeIcon.calendar-icon.ic_view_month(style="margin-right: 4px;")
          span#calendarTypeName Weekly
        ul.dropdown-menu(role="menu" aria-labelledby="dropdownMenu-calendarType")
          li(role="presentation")
            a.dropdown-menu-title(role="menuitem" data-action="toggle-weekly")
              i.calendar-icon.ic_view_week
              | Weekly
          li(role="presentation")
            a.dropdown-menu-title(role="menuitem" data-action="toggle-monthly")
              i.calendar-icon.ic_view_month
              | Monthly
      span#menu-navi
        button.btn.btn-default.btn-sm.move-today(type="button" data-action="move-today") Today
        button.btn.btn-default.btn-sm.move-day(type="button" data-action="move-prev")
          i.calendar-icon.ic-arrow-line-left(data-action="move-prev")
        button.btn.btn-default.btn-sm.move-day(type="button" data-action="move-next")
          i.calendar-icon.ic-arrow-line-right(data-action="move-next")
      span#renderRange.render-range
    #calendar
  #modalViewExercise.modal.fade(tabindex="-1" role="dialog" aria-labelledby="modalViewExerciseTitle" aria-hidden="true")
    .modal-dialog.modal-lg.modal-dialog-centered(role="document")
      .modal-content
        .modal-header
          h5#modalViewExerciseLongTitle.modal-title Exercise Details
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          h5 Group
          p#exerciseGroup
          h5 Equipment
          p#exerciseEquipment
          hr
          h5 Description
          p#exerciseDescription
        .modal-footer
          button#btnDeleteExercise.btn.btn-danger(type="button" data-dismiss="modal") Delete
          button.btn.btn-default(type="button" data-dismiss="modal") Close
  #modalAddExercise.modal.fade(tabindex="-1" role="dialog" aria-labelledby="modalAddExerciseTitle" aria-hidden="true")
    .modal-dialog.modal-lg.modal-dialog-centered(role="document")
      .modal-content
        .modal-header
          h5#modalAddExerciseLongTitle.modal-title Add an Exercise
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          table#tableExercises.hover.row-border.w-100
            thead
              tr
                th Name
                th Equipment
                th Group
                th ID
            tbody
              each exercise in exercises
                tr(class=`bg-${exercise.group.replace(' ', '-').toLowerCase()}`)
                  td= exercise.name
                  td= exercise.equip
                  td= exercise.group
                  td= exercise._id
          #errorTable.invalid-feedback Select an exercise
          .row.mt-4
            .col-sm-12.input-group
              .input-group-prepend
                span.input-group-text#inputGroup-sizing-default Reps:
              input#inputReps.form-control(type="number" min=0 describedby="inputGroup-sizing-default")
              #errorReps.invalid-feedback Choose a number greater than 0
          .row.mt-4
            .col-sm-12.input-group
              .input-group-prepend
                span.input-group-text#inputGroup-sizing-default Weight:
              input#inputWeight.form-control(type="number" min=0 describedby="inputGroup-sizing-default")
              #errorWeight.invalid-feedback Choose a number greater than 0
        .modal-footer
          button#btnAddExercise.btn.btn-default(type="button" data-dismiss="modal") Add
          button.btn.btn-default(type="button" data-dismiss="modal") Close
block scripts
  //- Pass program data through a script so that it is accessible as a variable in scripts
  script.
    const program = !{JSON.stringify(program).replace(/<\//g, "<\\/")}
  script(src="/javascripts/calendar/tui-code-snippet.js")
  script(src="/javascripts/calendar/tui-dom.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.13/chance.min.js")
  script(src="/javascripts/calendar/tui-calendar.js")
  script(src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js")
  script(src="/javascripts/calendar.js")
