extends layout

mixin printExercise(exercise)
  td= exercise.name
  td= exercise.equip
  td= exercise.group
  td= exercise._id

mixin colorCodeByGroup(exercise)
  case exercise.group
    when "Chest"
      tr.bg-chest
        +printExercise(exercise)
    when "Triceps"
      tr.bg-triceps
        +printExercise(exercise)
    when "Upper back"
      tr.bg-upper-back
        +printExercise(exercise)
    when "Biceps"
      tr.bg-biceps
        +printExercise(exercise)
    when "Shoulders"
      tr.bg-shoulders
        +printExercise(exercise)
    when "Core"
      tr.bg-core
        +printExercise(exercise)
    when "Lower body"
      tr.bg-lower-body
        +printExercise(exercise)
block css
  //- When CDN is used, the files are blocked by client. I think toggling CORS may fix
  link(rel='stylesheet' href='/stylesheets/calendar/tui-calendar.css')
  //- Not using CDN since the css file had to be explicitly modified
  link(rel='stylesheet' href='/stylesheets/datatables.min.css')
  link(rel='stylesheet' href='/stylesheets/calendar.css')
block content
  .container.main-content
    #menu
      span.dropdown
        button#dropdownMenu-calendarType.btn.btn-default.btn-sm.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
          i#calendarTypeIcon.calendar-icon.ic_view_month(style='margin-right: 4px;')
          span#calendarTypeName Weekly
        ul.dropdown-menu(role='menu' aria-labelledby='dropdownMenu-calendarType')
          li(role='presentation')
            a.dropdown-menu-title(role='menuitem' data-action='toggle-weekly')
              i.calendar-icon.ic_view_week
              | Weekly
          li(role='presentation')
            a.dropdown-menu-title(role='menuitem' data-action='toggle-monthly')
              i.calendar-icon.ic_view_month
              | Monthly
      span#menu-navi
        button.btn.btn-default.btn-sm.move-today(type='button' data-action='move-today') Today
        button.btn.btn-default.btn-sm.move-day(type='button' data-action='move-prev')
          i.calendar-icon.ic-arrow-line-left(data-action='move-prev')
        button.btn.btn-default.btn-sm.move-day(type='button' data-action='move-next')
          i.calendar-icon.ic-arrow-line-right(data-action='move-next')
      span#renderRange.render-range
    #calendar
  //- TODO: Insert modals here (one for clicking on an existing exercise and one for adding an exercise to day)
  #modalAddExercise.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modalAddExerciseTitle' aria-hidden='true')
    .modal-dialog.modal-lg.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#modalAddExerciseLongTitle.modal-title Add an Exercise
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          table#tableExercises.hover.row-border.w-100
            thead
              tr
                th Name
                th Equipment
                th Group
                th ID
            tbody
              each exercise in exercises
                +colorCodeByGroup(exercise)
          #errorTable.invalid-feedback Select an exercise
          .row.mt-4
            .col-sm-12.input-group
              .input-group-prepend
                span.input-group-text#inputGroup-sizing-default Reps:
              input#inputReps.form-control(type='number' min=0 describedby='inputGroup-sizing-default')
              #errorReps.invalid-feedback Choose a number greater than 0
        .modal-footer
          button#btnAddExercise.btn.btn-default(type='button' data-dismiss='modal') Add
          button.btn.btn-default(type='button' data-dismiss='modal') Close
block scripts
  //- Pass program data through a script so that it is accessible as a variable in scripts
  script.
    const program = !{JSON.stringify(program).replace(/<\//g, "<\\/")}
  script(src="/javascripts/calendar/tui-code-snippet.js")
  script(src="/javascripts/calendar/tui-dom.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.13/chance.min.js")
  script(src="/javascripts/calendar/tui-calendar.js")
  script(src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js")
  script(src="/javascripts/calendar.js")
