extends layout

block content
  .container.main-content
    .row.justify-content-center.mb-3.mt-5
      .text-center
        - if (locals.authenticated)
          h1 #{username}'s exercises
        - else
          h1 Exercise Selection
          p Once logged in, you can add and delete from this list.

    - if (locals.authenticated)
      .row.justify-content-center.mb-3
        a.btn.btn-default(href="/dashboard/exercise-list/add") Add New

    .row
      - if (inserted == "true")
        .alert.alert-success(role="alert") Exercise added!

    // Exercise list
    .row.justify-content-center
      .col-12.col-md-8
        .error.alert= message
        // Print each exercise
        each exercise in exercises
          div(class=`card bg-${exercise.group.replace(' ', '-').toLowerCase()}`)
            .card-body
              h4
                a.exercise(href=`exercise/${exercise._id}`)= exercise.name
              .equipments
                each equip in exercise.equip
                  span.badge.badge-warning= equip

block scripts
  script(src="/javascripts/exercise-list.js")
