extends layout
block content
  .container.main-content
    .row.mt-5
      .col-12
        div(class=`card bg-${exercise.group.replace(' ', '-').toLowerCase()}`)
          .card-body.mx-auto.px-5
            h1.card-title.text-center= exercise.name
          .card-body.px-5
            h4.card-title.mb-0 Muscle Group
            div= exercise.group
          .card-body.px-5
            h4.card-title.mb-0 Equipment options
            .equipments
              each equip in exercise.equip
                span.badge.badge-warning= equip
            h4.card-title.mt-3.mb-0 Description
            .card
              .card-body
                p!= exercise.desc