extends layout

mixin printExercise(exercise)
  .card-body
    //- Trigger the modal with a button
    button.close(type="button" data-toggle="modal" data-target=`#delete-${exercise.name.toLowerCase()}`) &times;
    //- Modal
    .modal.fade(role="dialog" id=`delete-${exercise.name.toLowerCase()}`)
      .modal-dialog
        //- Modal content
        .modal-content
          .modal-body
            h5.mt-3.text-center= `Delete "${exercise.name}"?`
            input(hidden=true, name=`${exercise.name}`)
          .modal-footer
            button.btn.btn-default(type="button" data-dismiss="modal") Cancel
    h4
      a.exercise(href=`/exercise/${exercise._id}`)= exercise.name
    .equipments
      each equip in exercise.equip
        span.badge.badge-warning= equip

mixin colorCodeByGroup(exercise)
  case exercise.group
    when "Chest"
      .card.bg-chest
        +printExercise(exercise)
    when "Triceps"
      .card.bg-triceps
        +printExercise(exercise)
    when "Upper back"
      .card.bg-upper-back
        +printExercise(exercise)
    when "Biceps"
      .card.bg-biceps
        +printExercise(exercise)
    when "Shoulders"
      .card.bg-shoulders
        +printExercise(exercise)
    when "Core"
      .card.bg-core
        +printExercise(exercise)
    when "Lower body"
      .card.bg-lower-body
        +printExercise(exercise)
    default
      .card.bg-secondary
        +printExercise(exercise)

block content
  .container.main-content
    .row.justify-content-center.mb-3.mt-5
      h1.text-center Exercise Selection

    .row.justify-content-center.mb-3
      a.btn.btn-default(href='/exercise-list/add') Add New

    .row
      - if (inserted == 'true')
        .alert.alert-success(role='alert') Exercise added!

    // Exercise list
    .row.justify-content-center
      .col-12.col-md-8
        .error.alert= message
        // Print each exercise
        each exercise in exercises
          +colorCodeByGroup(exercise)
            +printExercise(exercise)

block scripts
  script(src='/javascripts/exercise-list.js')
